.background {
  background: linear-gradient(270deg,#79ffdb,#56d1f7,#31ffa9);
  background-size: 600% 600%;
  animation: gradientShift 12s ease infinite;
  min-height: 100vh;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}